@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%); /* (Primary) */
  --Desaturated-Dark-Cyan-Header: rgba(33, 126, 126, 0.7); /* (Primary) */
  --Light-Grayish-Cyan: hsl(180, 52%, 96%); /* (Background) */
  --Light-Grayish-Cyan-Tablets: hsl(180, 31%, 95%); /* (Filter Tablets) */
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {

  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Desaturated-Dark-Cyan);
  background-color: var(--Light-Grayish-Cyan);
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
  background-image: linear-gradient(var(--Desaturated-Dark-Cyan-Header), var(--Desaturated-Dark-Cyan-Header)), url('./images/bg-header-desktop.svg');
  height: 156px;
}
